CSS ile süre yazısını büyüt, renk geçişi veya titreşim animasyonu ekle.

Mobilde butonların alta dizildiği responsive tasarım oluştur.

h1:hover{
    transition: all 0.5s ease;
}
.buttons{
  display: flex;
    padding: 10px 20px;
    font-size: 40px;
    margin: 10px;
    cursor: pointer;
    border-radius: 50px;
    gap: 20px;
  text-align: center;
  justify-content: center
}
button{
    background-color: gray;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50px;
    transition: background-color 0.3s ease;
}
button:hover{
    background-color: #e59f9f;
}
@keyframes pulse {
  0%   { transform: scale(1) translateX(0); color: red; }
  50%  { transform: scale(1.1) translateX(0); color: orange; }
  100% { transform: scale(1) translateX(0); color: red; }
}
h1{
      font-size: 60px;
    color:white;
    animation: pulse 10s infinite;
  margin-left: 70px;
}
@media (max-width: 468px) {
  .buttons {
    flex-direction: column;
    align-items: center;  
  }
  .buttons button {
    width: 80%; 
  }
}
header{
  color: black;
  font-weight: bold;
margin-bottom: 30px;
font-size: 20px;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;     
  min-height: 50vh;      
  margin: 0;   
  background-color: azure;           
}